body {
    margin: 0;
}

main {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 26px 10px;
    height: 52px;
    box-sizing: border-box;
}

.header-content {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.header-content-logo {
    width: 153px;
    height: 24px;
}

.header-navigation-list {
    display: flex;
    align-items: center;
    gap: 16px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.header-navigation-list a {
    color: black;
    text-decoration: none;
}

.header-navigation-list a:hover {
    color: red;
}

.high-light-list-item div {
    color: red;
    padding: 6px;
    border-bottom-style: solid;
    border-bottom-color: red;
}

.main-content-welcome {
    background-image: url("assets/hp_banner_about_us_campaign.png");
    min-height: 478px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
}

.main-content-welcome-word {
    margin-right: 75%;
    padding-left: 0;
    padding-right: 0;
    width: 30%;
    display: grid;
    align-self: center;
    color: white;
    margin-top: auto;

}

.main-content-welcome-word h1 {
    box-sizing: border-box;
    color: white;
    font-family: 'Bitter-Bold', 'NotoSerifSC-Black', sans-serif;
    font-size: 64px;
    height: 70px;
    margin: 0;
    text-align:center;
}

.main-content-welcome-word h2 {
    box-sizing: border-box;
    color: #F2617A;
    font-size: 48px;
    font-weight: 700;
    height: 58px;
    margin: 0;
    text-align:center;
}

.main-content-btn{
    align-items: center;
    background: none;
    border: none;
    color: white;
    padding: 0;
    gap: 8px;
    display: flex;
}

.main-content-btn:after{
    background: url("assets/arrow-right-s-line.svg");
    background-size: 20px 20px;
    filter: invert(1);
    content: " ";
    height: 20px;
    width: 20px;
}

.main-content-btn-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 209px;
    height: 50px;
    margin-top: auto;

    background: rgba(217, 217, 217, 0.3);
    border-radius: 4px;
}

.main-card-content{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.card{
    min-width: 200px;
    width: 450px;
    background: #EDF1F3;
}

.card-content{
    padding: 16px;
}